/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Vers Mobile */
/* Common */
.flexbetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mbm {
    margin-left: 2rem;
    margin-right: 2rem;
}
/* Inizio Header */

header {
    height: 80px;
    background-color: #0084fd;
}

nav {
    height: 100%;
}

nav .mainmenu {
    display: none;
}

/* Fine header */

/* Inizio Main */

.container {
    max-width: 1170px;
}

/* Col / Column debug */
.column {
    margin-top: 2rem;
}


.col {
    border: 1px solid red;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* .columntop {
   
}
.columnbot {

} */

/* Section Strategy */
.strategy {
    background-color: #9792e4;;
}

.strategy .img {
    display: flex;
    justify-content: center;
}

.img img , .card img {
    width: 50%;
}

/* Vers Tablet */
@media screen and (min-width:768px) {
    /* debug */
    /* main */
                /* Section Application */
    body {
        background-color: lightblue;
    }
    
    .columntop, .columnbot {
        display: flex;
        justify-content: space-between; 
    }
    .topleft {
        width: 66%;
        border: 1px solid red;
      }
    

    .topright {
        width: 30%;
        margin-left: 2.5rem;
    }

    .columnbot .col:nth-child(2) {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }
}

/* Vers Desktop */
@media screen and (min-width:992px) {
    /* debug */
       /* main */
                /* Section Application */
    body {
        background-color: lightcoral;
    }

    .container {
        margin: 0 auto;
    }

    nav .burgermenu {
        display:none;
    }
    nav .mainmenu {
        display: block;
    }

    /* Main  */
    .topright {
        width: 31.5%;
        margin-left: 2.5rem;
    }

    .strategycolumn {
        display: flex;
        width: 90%;
        margin: 0 auto;
    }

    .img {
        width: 50%;
    }

    .img img , .card img {
        width: 100%;
    }
}

